<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>We'll Be Right Back</h1>
        <p>We Doin' Some Updatin'.  Be Back Soon Baby</p>
    </body>
</html>
